<div id="about">
  <h1>About Dark Souls</h1>
  <p>Developed by FromSoftware, Dark Souls is the spiritual successor to the
    Playstation exclusive Demon's Souls, an action RPG experience that surprised
    by not only gaining critical acclaim, but obtaining publishing in 3 regions
    and racking estimated sales of over 1 million units.
    <br />
    The original game's appeal lay with its renowned difficulty and
    trial-and-error approach, one that Dark Souls looked to sustain, thus
    attracting Demon's Souls' fanbase. The developer and publisher had both
    stated that there were no intentions for DLC however, following the release
    of the Prepare to Die Edition for PC with added content, an expansion DLC
    was released for both PS3 and Xbox360, titled Artorias of the Abyss.</p>
</div>